@import '@/app/styles/colors';
@import '@/app/styles/mixins';

.detailName {
  font-weight: 700;
}

.detailsWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.itemWrapper {
  display: flex;
  border: 1px solid $language-selector-empty-border;
  border-radius: 6px;
  padding: 20px;
  gap: 20px;
  justify-content: space-between;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  div {
    padding: 10px;
    width: 150px;
  }
}

.deleteFileButton {
  width: 20px;
  height: 20px;
  padding: 1px;
  color: $text-dark-color;
}

.dataWrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;

  @include tablet {
    flex-direction: row;
  }
}

.sectionTitle {
  font-size: 20px;
  font-weight: 700;
  margin: 25px 0;
}

.inputWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-direction: column;

  input {
    width: 100%;
    max-width: 450px;
  }

  @include tablet {
    flex-direction: row;
    gap: 75px;
  }
}

.labelInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
  gap: 10px;

  label {
    font-weight: 400;
    font-size: 16px;
  }
}

.contactWrapper {
  width: 100%;
}

.sendOfferButton {
  margin-top: 30px;
  width: 100%;

  @include tablet {
    max-width: 220px;
    margin-left: auto;
  }
}

.priceItemsListWrapper {
  max-width: 970px;
  margin: auto;
}

.configBox {
  margin-bottom: 20px;
}
