@import '@/app/styles/colors';

.thicknessSelector {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 12px;
  padding-top: 20px;
}

.selector {
  padding: 10px 20px;
  border: 1px solid $language-selector-empty-border;
  border-radius: 6px;
}
