@import '@/app/styles/colors';

.filesList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}

.fileWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $language-selector-empty-border;
  border-radius: 6px;
  padding: 10px 20px;
  width: 100%;
  max-width: 970px;
  margin: 7px 0;
  cursor: pointer;
}

.deleteFileButton {
  color: $text-dark-color;
  padding: 0;

  svg {
    width: 20px;
    height: 20px;
  }
}

.active {
  font-weight: 600;
}
