.swiper-slide {
  justify-content: center !important;
  height: auto !important;
}

.swiper-button-prev {
  top: 10%;
  right: 70px;
  left: auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  border: 1px solid #d9d9d9;
  color: black;
}

.swiper-button-prev::after {
  font-size: 20px;
}

.swiper-button-next::after {
  font-size: 20px;
}

.swiper-button-next {
  top: 10%;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  border: 1px solid #d9d9d9;
  color: black;
}
