@import '@/app/styles/colors';

.swiper-slide {
  justify-content: center !important;
}

.swiper-pagination-bullet-active {
  border: 3px solid $orange !important;
  position: relative;
  width: 24px !important;
  height: 24px !important;

  span {
    background-color: #eb6e2e;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
